<form action="https://send.pageclip.co/RPzMtJL3PnwVWW0sCFTM4biapMfSx6ve/contact-form" id="contact-form" name="contact-form" class="pageclip-form contact-form" accept-charset="utf-8" method="post">
  <fieldset id="contact-form-inputs">
    <input type="text" name="name" id="name" placeholder="Seu nome" required="required" />
    <input type="email" name="email" id="email" placeholder="Seu email" required="required" />
    <textarea rows="12" name="body" id="message" placeholder="Escreva sua mensagem." required="required"></textarea>
    <input type="hidden" name="subject" id="email-subject" value="Contato pelo site - Curso de Drupal" />
  </fieldset>
  <button type="submit" class="pageclip-form__submit btn btn--info btn--x-large">
    <span>Enviar</span>
  </button>
</form>
