.grid__free__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(10 of 10);

    &:nth-child(2n + 1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0;
    /* override margin*/
    margin-right: 0;
    /* override margin*/
    width: span(6 of 12);

    &:nth-child(2n + 1) {
      clear: none;
      margin-left: 0;
    }

    &:nth-child(2n + 1) {
      clear: both;
    }

    &:nth-child(2n + 2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }
}
